{% extends 'base.html' %}
{% block content %}
    <h1>{{question.question}}</h1>
    <a href="{% url "app:list" %}">List</a>
    {% if question %}
        {% comment %} <form action='{% url "votePost" question.id %}' method='POST'> {% endcomment %}
            {% csrf_token %}
            {% for item in question.choice_set.all %}
            <p>
                <input type="radio" name="choice" value={{item.id}}>
                <span>{{item.choice}}</span>
            </p>
            {% endfor %}

            <input type="submit" value="Submit">
        {% comment %} </form> {% endcomment %}
    {% else %}
        <h3 style="color:red">No Question</h3>
    {% endif %}
{% endblock content %}
